/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
docker-compose.yml
engine
web/compiled

#ADMIN LTE
.idea
.sass-cache/
/nbproject/
/nbproject/private/
/node_modules/
ad.js
TODO
test.html
/web/assets/bower/
