version: "3.1"
services:
    mariadb:
      image: mariadb:latest
      container_name: esgi-facebook-final-docker-mariadb
      working_dir: /application
      volumes:
        - .:/application
      environment:
        - MYSQL_ROOT_PASSWORD=root
        - MYSQL_DATABASE=esgi-facebook-final
        - MYSQL_USER=esgi-facebook-final
        - MYSQL_PASSWORD=password
      ports:
        - "8151:3306"

    webserver:
      image: nginx:stable
      container_name: esgi-facebook-final-docker-webserver
      working_dir: /application
      volumes:
          - .:/application
          - ./engine/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      ports:
       - "8051:80"

    php-fpm:
      build:
        context: engine/php-fpm
      container_name: esgi-facebook-final-docker-php-fpm
      working_dir: /application
      volumes:
        - .:/application
        - ./engine/php-fpm/php-ini-overrides.ini:/etc/php/7.0/fpm/conf.d/99-overrides.ini

    phpmyadmin:
      image: phpmyadmin/phpmyadmin
      container_name: esgi-facebook-final-docker-phpmyadmin
      links:
        - mariadb:db
      ports:
        - "8251:80"
      environment:
        MYSQL_USERNAME: root
        MYSQL_ROOT_PASSWORD: root

