{% extends 'AppBundle:Admin:base.html.twig' %}

{% block title %}Accueil Admin{% endblock %}

{% block header %}
    Album {{ album.name }}
    {% if album.id not in disabledAlbums %}
        <span style="font-size: 0.5em" class="label label-success">Album activé</span>
    {% else %}
        <span style="font-size: 0.5em" class="label label-danger">Album désactivé</span>
    {% endif %}

{% endblock %}

{% block breadcumb %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('site_home', {'project_name': site.username}) }}">
            <i class="fa fa-dashboard"></i> Mon site
        </a>
    </li>
    <li class="active">Admin</li>
</ol>
{% endblock %}

{% block body %}

<div class="row">

    {% for picture in album.pictures %}

        <div class="col-sm-3">
            <a href="{{ picture.webpimages[0].source }}" data-lightbox="album">
                <img width="100%" class="img-responsive" src="{{ picture.webpimages[0].source }}" alt="Photo">
            </a>
            <br>
        </div>

    {% else %}
        <p> Aucune photos </p>
    {% endfor %}

    <div class="row">

{% endblock %}