{% extends 'AppBundle:Admin:base.html.twig' %}

{% block title %}Accueil Admin{% endblock %}

{% block header %}Album {{ album.name }}{% endblock %}

{% block breadcumb %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('site_home', {'project_name': site.username}) }}">
            <i class="fa fa-dashboard"></i> Mon site
        </a>
    </li>
    <li class="active">Admin</li>
</ol>
{% endblock %}

{% block body %}

<div class="row">

    {% for picture in album.pictures %}

        <div class="col-sm-3">
            <img width="100%" class="img-responsive" src="{{ picture.pictureLink }}" alt="Photo">
            <br>
        </div>

    {% else %}
        <p> Aucune photos </p>
    {% endfor %}

    <div class="row">

{% endblock %}