{% extends 'AppBundle:Admin:base.html.twig' %}

{% block title %}Supprimer mon site{% endblock %}

{% block header %}Supprimer mon site{% endblock %}

{% block breadcumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('site_home', {'project_name': site.username}) }}">
                <i class="fa fa-dashboard"></i> Page d'accueil
            </a>
        </li>
        <li class="active">Admin</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="box box-red">
        <div class="box-header with-border">
            <h3 class="box-title">Activer/Désactiver des albums</h3>
        </div>
        <!-- form start -->
        <div class="box-body">
            <p>
                <b class="text-danger">Attention !</b> Si vous supprimez votre site, il ne sera plus accessible et
                aucune récupération ne sera possible.
            </p>
            <p>
                Si malgré cet avertissement vous souhaitez toujours supprimer votre site, merci d'utiliser le bouton
                ci-dessous.
            </p>
            <form action="{{ path('admin_delete_website', {'project_name': site.userName}) }}" method="post">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i> Supprimer mon site
                </button>
            </form>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}


