{% extends 'AppBundle:Admin:base.html.twig' %}

{% block title %}Accueil Admin{% endblock %}

{% block header %}Accueil{% endblock %}

{% block breadcumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('site_home', {'project_name': site.username}) }}">
                <i class="fa fa-dashboard"></i> Page d'accueil
            </a>
        </li>
        <li class="active">Admin</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Configuration</h3>
        </div>
        <div class="box-body">
            Bienvenue sur votre page d'administration de MyPhotoBook ! <br>
            Vous pouvez ici configurer les différentes options de votre site afin de le rendre le plug agréable
            possible.
            <br>
            Vous pouvez :
            <ul>
                <li>
                    <a href="{{ path('admin_colorChoice', {'project_name': site.username}) }}">
                        Choisir la couleur principale du site
                    </a>
                </li>
                <li>Choisir la disposition</li>
                <li>
                    <a href="{{ path('admin_albums', {'project_name': site.username}) }}">
                        Choisir les albums à cacher
                    </a>
                </li>
                <li>
                    <a href="{{ path('photo_upload', {'project_name': site.userName}) }}">
                        Uploader une photo
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
{% endblock %}


