{% extends 'AppBundle:Manage:base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Management de MyPhotoBook</h1>
        <h2><a href="{{ path('fos_user_security_login') }}">Se connecter</a></h2>
        {% if app.user is not null and is_granted('ROLE_ADMIN') %}
            <h2><a href="{{ path('manage_edit') }}">Editer les sites</a></h2>
        {% endif %}
    </div>
{% endblock %}
