{% extends 'AppBundle:Manage:base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Management de MyPhotoBook</h1>
        </div>
        <p class="lead">Cette interface permet de gérer les différents utilisateurs du site</p>
        <p><a href="{{ path('fos_user_security_login') }}">Se connecter</a></p>
        {% if app.user is not null and is_granted('ROLE_ADMIN') %}
            <p><a href="{{ path('manage_edit') }}">Editer les sites</a></p>
        {% endif %}
    </div>
{% endblock %}
