{% extends 'AppBundle::base.html.twig' %}

{% block title %}Conditions de service{% endblock %}

{% block header %}{% endblock %}
{% block subheader %}{% endblock %}
{% block breadcumb %}{% endblock %}


{% block body %}
    <div class="box box-default">
        <div class="box-body">

        </div>
    </div>
{% endblock %}
